body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 40px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

#info{
    padding: 10px;
    Margin: 10px; 
    background-color: #e6a4a4;
    border-radius: 10px;
}

Button {
    color: black;
    background-color: rgb(202, 202, 255);
    border-radius: 5px;
    margin: 3px;
    padding: 7px;
    transition: 0.2s;
    border: none;
}

#name {
    padding: 4px;
}

#count{
    padding: 4px;
}

Button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(120, 120, 255); 
    
}

#main {
    width: 600px;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
}

.artikel-balken {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8fc1e3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    transition: background 0.2s;
}

.artikel-balken:hover {
    background: #66a3cc;
}

.anzahl {
    font-weight: bold;
    margin-right: 10px;
}

.name {
    flex: 1;
}

.aktionen button, .aktionen a {
    margin-left: 5px;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.aktionen button {
    background-color: #fff;
    color: #333;
}

.aktionen a {
    background-color: #ff6666;
    color: #fff;
    text-decoration: none;
}

.aktionen a:hover {
    background-color: #cc3333;
}
