<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Einkaufszettel">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Einkaufszettel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://unpkg.com/quagga/dist/quagga.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
<div id="info">
    <a id="info2">
        Der Barcode scan funktioniert leider nocht nicht.
    </a>
   <div id="links">
     <a class="angebot aldi"
       target="_blank"
       href="https://www.aldi-nord.de/suchergebnis.html?search={{ artikel.name }}">
       Aldi
    </a>

    <a class="angebot rewe"
       target="_blank"
       href="https://www.rewe.de/suche/produkte/{{ artikel.name }}">
       REWE
    </a>
   </div>
</div>

<div id="main">
    <h1>Einkaufszettel</h1>

    <div class="add-section">
        <h2>Artikel hinzufügen</h2>
        <form action="/hinzufuegen" method="post">
            <a id="name">Name:</a> <input type="text" name="name" required>
            <a id="count">Anzahl:</a><input type="number" name="anzahl" min="1" required>
            <button type="submit">Hinzufügen</button>
        </form>

        <button class="barcode-btn">Barcode Scannen</button>
    </div>

    <div id="scanner" style="display:none; width: 300px; height: 200px; border:1px solid #000;"></div>

    <h2>Aktuelle Artikel</h2>
    <div id="artikel-container">
        {% for artikel in einkaufszettel %}
        <div class="artikel-balken" data-index="{{ loop.index0 }}">
            <div class="anzahl">{{ artikel.anzahl }}</div>
            <div class="name">{{ artikel.name }}</div>
            <div class="aktionen">
                <button class="aendern-btn">Ändern</button>
                <a href="/loeschen/{{ loop.index0 }}" class="loeschen-link">Löschen</a>
            </div>
            <div class="angebote">
    <a class="angebot aldi"
       target="_blank"
       href="https://www.aldi-nord.de/suchergebnis.html?search={{ artikel.name }}">
       Aldi
    </a>

    <a class="angebot rewe"
       target="_blank"
       href="https://www.rewe.de/suche/produkte/{{ artikel.name }}">
       REWE
    </a>
</div>
        </div>
        {% endfor %}
    </div>
</div>



</body>
</html>

